@import 'https://fonts.googleapis.com/css?family=Lato:400,400i,700|Playfair+Display:400,900';

body{
	font-family: Lato, sans-serif;
	color:black;
}
h1,h2,h3,h4 {
	font-family: 'Playfair Display', Georgia, serif;
	font-weight: 900;
}

a {
	text-decoration: none;
	color: dodgerblue;
}